/*
/*/
!/blueprints
!/esphome
!/lovelace
!/themes
!/www/fonts
!.gitignore
!.editorconfig
!automations.yaml
!configuration.yaml
!hass-config.code-workspace
!README.md
!scenes.yaml
!scripts.yaml
!secrets.example.yaml