/*
/*/
!config/blueprints/*/chettapong
!esphome
!lovelace
!themes
!/www/
/www/*
!www/fonts
!.gitignore
!automations.yaml
!configuration.yaml
!hass-config.code-workspace
!README.md
!scenes.yaml
!scripts.yaml
!secrets.example.yaml